@import-normalize;

@font-face {
    font-family: primary-font;
    src: url('./assets/fonts/louis-george-cafe/Louis George Cafe.ttf');
}

:root {
    --primary-colour: #fa955f;
    --primary-colour--dark: #cc6a35;
    --primary-colour--light: #ffdbc7;
    --primary-colour--tint: #fcefe8;

    font-size: 16px;
}

* {
    color: black;
    font-family: primary-font;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.masthead {
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #d1d1d1;
    display: block;
    font-size: 24px;
    justify-content: space-between;
    position: sticky;
    text-align: center;

    @media only screen and (min-width: 769px) {
        display: flex;
        height: auto;
        margin: auto 50px;
    }

    @media only screen and (min-width: 1201px) {
        padding: 0 150px;
    }
}

.masthead-name {
    display: block;
    padding: 20px 0;

    @media only screen and (min-width: 769px) {
        display: flex;
    }
}

.masthead-name h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

main {
    margin: 25px;
    width: calc(100% - 50px);

    @media only screen and (min-width: 769px) {
        height: calc(100vh - 82px);
        margin: 50px;
        width: calc(100% - 100px);
    }

    @media only screen and (min-width: 1201px) {
        margin: 50px 200px;
        width: calc(100% - 300px);
    }
}

main.homepage {
    display: flex;
    flex-direction: column;
    margin: 25px;

    @media only screen and (min-width: 600px) {
        flex-direction: row;
    }

    @media only screen and (min-width: 769px) {
        margin: 0 50px;
    }

    @media only screen and (min-width: 1201px) {
        margin: 0 150px;
    }
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
    
    @media only screen and (min-width: 769px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;

    @media only screen and (min-width: 769px) {
        font-size: 3rem;
    }
}

.profile-image {
    margin: auto;
    width: 80%;

    @media only screen and (min-width: 600px) {
        margin: auto 0;
        width: 50%;
    }
}

.profile-image img {
    clip-path: url("#blob");
    display: flex;
    margin: auto;
    width: 100%;

    @media only screen and (min-width: 769px) {
        height: auto;
        max-height: 60vh;
        max-width: 100%;
        width: auto;
    }
}

.content {
    margin: auto;
    text-align: center;

    @media only screen and (min-width: 769px) {
        margin: auto auto auto 50px;
        max-width: 300px;
        text-align: left;
    }
}

.content h1 {
    font-size: 4rem;
    
    @media only screen and (min-width: 769px) {
        font-size: 5rem;
    }
}

.social-icons {
    display: inline-flex;
    justify-content: space-between;
    margin: 25px 10%;
    width: 80%;

    @media only screen and (min-width: 769px) {
        margin: 50px 10%;
    }
}

.social-icon {
    display: block;
    height: 44px;
    transition: transform .4s; /* Animation */
    width: 44px;
}

.social-icon:hover {
    transform: scale(1.1);
}

