@import-normalize;

@font-face {
    font-family: primary-font;
    src: url('./assets/fonts/louis-george-cafe/Louis George Cafe.ttf');
}

:root {
    --primary-colour: #fa955f;
    --primary-colour--dark: #cc6a35;
    --primary-colour--light: #ffdbc7;
    --primary-colour--tint: #fcefe8;

    font-size: 16px;
}

* {
    font-family: primary-font;
    margin: 0;
    padding: 0;
}

.masthead {
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #d1d1d1;
    display: block;
    font-size: 24px;
    justify-content: space-between;
    position: sticky;
    text-align: center;

    @media only screen and (min-width: 769px) {
        display: flex;
        height: 80px;
        margin: auto 50px;
    }

    @media only screen and (min-width: 1201px) {
        padding: 0 100px;
    }
}

.masthead-name {
    display: block;
    padding: 10px 20px;

    @media only screen and (min-width: 769px) {
        display: flex;
    }
}

main {
    display: inline-flex;
    margin: 0 25px;
    width: calc(100% - 50px);

    @media only screen and (min-width: 769px) {
        height: calc(100vh - 82px);
        margin: 0 50px;
        width: calc(100% - 100px);
    }

    @media only screen and (min-width: 1201px) {
        margin: 0 150px;
        width: calc(100% - 300px);
    }
}

h2, h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

.profile-image {
    clip-path: url("#blob4");
    height: 60vh;
    margin: auto 0;
}

.content {
    margin: auto;
}

.social-icons {
    display: inline-flex;
    justify-content: space-between;
    margin: 50px 10%;
    width: 80%;
}

.social-icon {
    display: block;
    height: 44px;
    transition: transform .4s; /* Animation */
    width: 44px;
}

.social-icon:hover {
    transform: scale(1.1);
}

